@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

/*=========== Scroll ==========*/
body::-webkit-scrollbar {
    background-color: #84272728;
    width: 10px;
    right: -10px
}
body::-webkit-scrollbar-thumb{
    background-color: #842727;
    border-radius:8px;
    right: -10px
}
/*===== body ======*/
body {
    font-family: 'Cairo', sans-serif;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    height: 120%;
    position: relative;
}
/*===== btn ======*/
a{
    color: #842727;
}
a:hover{
    color: #842727;
}
a.forgot_password{
      display: none;
}
.btn-blue{
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    background-color: #842727;
    border-color: #842727;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus{
    color: #fff;
    background-color: #842727d3;
    border-color: #842727d3;
}

/*===== blue_background ======*/
.purble_background{
    position: relative;
    width: 100%;
    height: 350px;
    background: #842727;
    transform: skewY(-4deg);
    transform-origin: top left;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
}
/*===== title ======*/
p.title.text-center{
    color: #842727;
    font-size: 25px;
}
.underline{
    width: 30px;
    height: 3px;
    background-color: #842727;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: -10px;

}

/*=====logo-image ======*/
.auth .logo-image{
	margin-top: 40px;
    height: 100px;
}
/*===== Form =====*/
.auth{
	background-color: #fff;
    overflow: auto !important;
    position: relative;
    max-width: 450px !important;
    margin-top: -220px;
    z-index: 999999999999;
    box-shadow: 0px 0px 9px 1px #000;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.form-content{
    padding: 50px 0px;
    background-color: #fff;
}
.form-control{
    font-size: 16px;
    padding: 20px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
