/*=== Body ===*/
body::-webkit-scrollbar ,
body::-webkit-scrollbar {
    background-color:#14085065;
    width:10px;
    right: -10px
}
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
    background-color:#140850;
    border-radius:8px;
    right: -10px
}
/*==== sidebar =====*/
.main-sidebar a.navbar-brand img{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
.sidebar-mini.sidebar-collapse a.navbar-brand img{
    height: 25px !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
}
.sidebar-mini.sidebar-collapse .navbar-brand{
    margin-right: 0 !important;
}
[class*=sidebar-dark] .brand-link{
    border-bottom: 1px solid #e4e4e4;
    color: rgba(255,255,255,.8);
}
[class*=sidebar-dark-] {
    background-color: #140850;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #2a1496;
    color: #fff;
    border-radius: 20px;
}
/*==== card-primary =====*/
.card-primary.card-outline {
    border-top: 3px solid #140850;
}
/*==== Links , btn =====*/
a {
    color: #140850;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #140850c9;
    text-decoration: none;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #2a1496;
    color: #fff;
}
.btn{
    margin: 3px;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}
.btn-primary {
    color: #fff;
    background-color: #140850;
    border-color: #140850;
    box-shadow: none;
}
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus {
    background-color: #140850c9;
    border-color: #140850c9;
}
/*====== Card ========*/ 
.card {
    box-shadow: 0 0 14px rgba(0,0,0,.125), 0 2px 11px rgb(0 0 0 / 57%);
    border-radius: 7px;
    overflow: hidden;
}
.card-header.text-white{
    background-color: #140850 !important;
}
.card-body .list-group::-webkit-scrollbar ,
.card-body .list-group::-webkit-scrollbar {
    background-color:#14085065;
    width:10px;
    right: -10px
}
.card-body .list-group::-webkit-scrollbar-thumb,
.card-body .list-group::-webkit-scrollbar-thumb{
    background-color:#140850;
    border-radius:8px;
    right: -10px
}
.morris-hover-point{
    color: #140850 !important;
}
.info-box .info-box-icon{
    border-radius: 50%  !important;
    -webkit-border-radius: 50%  !important;
    -moz-border-radius: 50%  !important;
    -ms-border-radius: 50%  !important;
    -o-border-radius: 50%  !important;
    box-shadow: 0px 0px 8px 0px #40404094 !important;
}
.info-box .info-box-icon i{
    font-size: 42px;
}
.page-item.active .page-link{
    background-color: #140850;
    border-color: #140850;
}
.form-inline{
    margin: 0px 5px !important;
}
/*=== Withdrawal Page ===*/
.card-body i.fa-money-bill-wave,
.card-body i.fa-exchange-alt,
.card-body i.fa-search-dollar,
.card-body i.fa-hand-holding-usd{
    font-size: 45px;
    padding: 7px !important;
}
/*==== Nav Links ====*/
.navbar-light .navbar-nav .nav-link{
    color: rgb(20 8 80);
}
/*===== button primary ======*/
button.btn-primary,
input.btn-primary{
    border-radius: 7px;
    padding: 6px 14px;
    font-size: 17px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
/*======== translations page ===========*/
.btn.edit-translations{
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}

/*==== circle sm btn =====*/
td a.btn{
    margin-right: 5px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
i.fas.fa-bars{
    color: #140850;
    font-size: 24px;
}
 /*==== scroll-to-top ====*/

 #scroll-to-top{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 25px;
    bottom: 30px;
    border-radius: 50%;
    z-index: 10000;
    cursor: pointer;
    opacity: 0.9;
    display: none
  }
  #scroll-to-top i{
    font-size: 45px;
  }
  @media (max-width:767px){
    #scroll-to-top{
      width: 40px;
      height: 40px;
      right: 25px;
      bottom: 25px;
    }
    #scroll-to-top i{
      font-size: 35px;
    }
  }
/*===== fixed icons =====*/
#fixed-icons{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 35px;
    bottom: 124px;
    border-radius: 50%;
    z-index: 10000;
    cursor: pointer;
  }
  #fixed-icons img{
    width: 55px;
    height: 55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #000;
  }
  @media (max-width:767px){
    #fixed-icons{
      width: 40px;
      height: 40px;
      right: 30px;
      bottom: 105px;
    }
    #fixed-icons img{
      width: 40px;
      height: 40px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      box-shadow: 0px 0px 3px 0px #000;
    }
  }